body {
font-family: arial;
border: solid rgb(0,100,0) 2px;
}

h1 {
  font-style: italic;
}
.peach {
  color: rgb(255,218,185)
}

.background {
  background-color: rgb(255,218,185)
}

.green {
  color: rgb(0,100,0)
}
