body {
font-family:"Nunito";
border: solid #0F9B6C 2px;
}

h1 {
  font-family: "Barriecito";
  padding: 10px;
  font-size: 130%;
}

h3 {
margin-left: 2px;
}

p {
margin-left: 5px;
}

.peach {
  color: #FF8E75;
}

.background {
  background-color: #FFB6A6;
}

.green {
  color: #0F9B6C;
}

.italic {
    font-style: italic;
}

button {
  background-color: #FFB6A6;
  font-family: "Barriecito";
  font-size: 20px;
  margin: 10px;
  padding: 5px 20px;
}

button:hover{
  font-size: 110%;
}

button:active {
  background-color: #FF8E75;
}
