body {
background-color: #FFB6A6;
font-family:"Nunito";
border: solid #0F9B6C 2px;
margin: 20vh 20vw;
padding: 3vh 5vw;
border-radius: 20px;
}

h1 {
  font-family: "Barriecito";
  padding: 10px;
}

h3 {
margin-left: 2px;
}

.green {
  color: #0F9B6C;
}


button {
  background-color: #FFB6A6;
  font-family: "Barriecito";
  font-size: 20px;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 20px;
}

button:hover{
  font-size: 110%;
}

button:active {
  background-color: #FF8E75;
}
