body {
font-family:"Nunito";
border: solid #0F9B6C 4px;
margin: 20vh 20vw;
padding: 3vh 5vw;
border-radius: 20px;
background-color: #B7E5D6;
}

h1 {
  font-family: "Barriecito";
  padding: 10px;
  font-size:170%;
}

h3 {
margin-left: 2px;
}

button {
  background-color: #FFB6A6;
  font-family: "Barriecito";
  font-size: 20px;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 10px;
}

button:hover{
  font-size: 150%;
}

button:active {
  background-color: #FF8E75;
}
