@media screen and (min-width:700px){

.homegrid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

nav {
  padding: 20px;
}

}

@media screen and (max-width:701px){

.homegrid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

nav {
  padding: 15px;
}


}


#homepage {
    background-color: #271D15;
    font-family: "Roboto Mono", monospace;
}

.otherpages {
  background-color: #E6DCD4;
  font-family: "Roboto Mono", monospace;
}

h1{
  text-align: center;
  font-size: 300%;
  color: #271D15;
}

h2 {
  font-size: 120%;
  font-weight: bolder;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  cursor: pointer;
}

nav {
  text-align: right;
}

.menu a {
  margin: 5px;
}

.pages {
  font-size: 120%;
  text-decoration: none;
  color:#271D15;
  display: inline-block;
  position: relative;
}

.pages:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #271D15;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.pages:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}

.pageshome {
  font-size: 120%;
  text-decoration: none;
  color:#E6DCD4;
  display: inline-block;
  position: relative;

}

.pageshome:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E6DCD4;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.pageshome:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}

.homegrid {
  display: grid;
  padding: 10px;
}

.box {
  padding: 110px;
  text-align: center;
}

.box1 {
  background-color: #BDA18C;
  color: #271D15;
}

.box2 {
  background-color: #E6DCD4;
  color: #271D15;
  cursor: pointer;
}

.box3 {
  background-color: #B4A79E;
  color: #271D15;
  cursor: pointer;
}

.box4 {
  background-color: #624226;
  color:#E6DCD4;
  cursor: pointer;
}

.box5 {
  background-color: #E6DCD4;
  color: #271D15;
}

.box6 {
  background-color: #BDA18C;
  color: #271D15;
  cursor: pointer;
}

/* .experience {


} */

.box2 .box-names {
  display: inline-block;
  position: relative;
}

.box2 .box-names:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #271D15;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.box2 .box-names:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}

.box3 .box-names {
  display: inline-block;
  position: relative;
}

.box3 .box-names:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #271D15;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.box3 .box-names:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}

.box6 .box-names {
  display: inline-block;
  position: relative;
}

.box6 .box-names:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #271D15;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.box6 .box-names:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}

.box4 .box-names {
  display: inline-block;
  position: relative;
}

.box4 .box-names:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E6DCD4;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.box4 .box-names:hover:after {
  transform: scaleX(1);
  transform-origin: right left ;
}


#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;

}

.images {
  width: 100%;
}

#photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#contact-li {
  width: 100px;
}

#contact-email {
  width: 120px;
}

#myemail {
  color: #E6DCD4;
}

.contact-info {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;

}

.contact-links {
  text-decoration: none;
  color: #271D15;
}
