@media screen and (min-width:700px){

.homegrid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

}

@media screen and (max-width:701px){

.homegrid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

}


#homepage {
    background-color: #271D15;
    font-family: "Roboto Mono", monospace;
}

.otherpages {
  background-color: #E6DCD4;
  font-family: "Roboto Mono", monospace;
}

h1{
  text-align: center;
  font-size: 300%;
  color: #271D15;
}

h2 {
  font-size: 120%;
  font-weight: bolder;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  cursor: pointer;
}

nav {
  padding: 20px;
  text-align: right;
}

.menu a {
  margin: 5px;
}

.menu a:hover {
  text-decoration: underline;
}


.pages {
  font-size: 120%;
  text-decoration: none;
  color:#271D15;
}

.pageshome {
  font-size: 120%;
  text-decoration: none;
  color:#E6DCD4;
}

.menu a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.menu a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.homegrid {
  display: grid;
  padding: 10px;
}

.box {
  padding: 110px;
  text-align: center;
}

.box1 {
  background-color: #BDA18C;
  color: #271D15;
  cursor: pointer;
}

.box2 {
  background-color: #E6DCD4;
  color: #271D15;
  cursor: pointer;
}

.box3 {
  background-color: #B4A79E;
  color: #271D15;
  cursor: pointer;
}

.box4 {
  background-color: #624226;
  color:#E6DCD4;
  cursor: pointer;
}

.box5 {
  background-color: #E6DCD4;
  color: #271D15;
}

.box6 {
  background-color: #BDA18C;
  color: #271D15;
  cursor: pointer;
}

.experience {


}

.box-names:hover{
  text-decoration: underline;
  font-size: 140%;
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;

}

.images {
  width: 100%;
}

#photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#contact-li {
  width: 100px;
}

#contact-email {
  width: 120px;
}

.contact-info {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;

}

.contact-links {
  text-decoration: none;
  color: #271D15;
}
