body {
  background-color: #B7E5D6;
  font:"Playfair Display";
}

h1 {
font-family: "Playfair Display SC", serif;
font-weight: bold;
font-size: 400%;
text-align: center;
}

h2 {
font-family: "Playfair Display SC", serif;
font-size: 220%;
font-weight: bold;
}

p {
font-size: 130%;

}

.checkbox {
size: 130%;

}

.ToDo {
  width:43%;
  border: solid 5px;
  border-color: #0D6145;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  float:left;
  background-color: #F6F2E6;
}

.section2 {
  width:43%;
  border: solid 5px;
  border-color: #0D6145;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  float:right;
  background-color: #F6F2E6;
}

.checklist {
  display: flex;
  flex-direction: column;
}

#tabs {
  display: flex;
  justify-content: space-evenly;
}

.days {

}

button {
  background-color: #F6F2E6;
  font-family: "Playfair Display SC", serif;
  border-radius: 10px;
  border-color: transparent;
  font-size: 120%;
  box-shadow: black 5px 5px 5px;
  padding:8px;
}

button:active {
  background-color: #0D6145;
  font: #F6F2E6;
}

img {
  height: auto;
  width: 100%;
  margin: none;
  padding: none;
}

.activeDay {
background-color: #0D6145;
border-radius: 10px;
}
button .activeDay {
font: #F6F2E6;
}
